
@import "tailwindcss";

@theme {
  --color-primary: hsla(25, 99%, 62%, 1);
  --color-secondary: hsla(189, 56%, 37%, 1);
  --color-tertiary:  hsla(189, 40%, 44%, 1);
  --color-quaternary:  hsla(195, 96%, 9%, 1);
  


  /* --color-primary: rgba(9, 153, 54, 1);
  --color-secondary: rgba(9, 114, 44, 1); */
}

@layer components {
  .inputField {
    @apply border py-3 px-4 text-sm border-gray-800/10 w-full active:border-gray-800/10 focus-visible:border-gray-800/10 focus-within:border-gray-800/10 focus:border-gray-800/10;
  }
  .inputFull {
    @apply flex flex-col gap-2 w-full md:w-96;
  }
  .div-container{
    @apply  py-4  md:px-16
  }
}
